{
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
},
  "globals": {
    "Thenable": "readonly",
    "VSCODE_VERSION": "readonly"
  },
  "extends": [
    "@codingame"
  ],
  "ignorePatterns": [
    "vscode/**/*",
    "dist/**/*"
  ]
}