{
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
},
  "globals": {
    "Thenable": "readonly",
    "VSCODE_VERSION": "readonly",
    "VSCODE_REF": "readonly"
  },
  "extends": [
    "@codingame"
  ],
  "rules": {
    "import/extensions": [
      "error",
      "never",
      {
        "css": "always",
        "js": "always",
        "mp3": "always",
        "json": "always",
        "contribution": "always", // Hack for vscode .contribution.js files
        "protocol": "always", // Hack for vscode .protocol.js files
        "net": "always", // Hack for vscode .net.js files
        "impl": "always", // Hack for vscode .impl.js files
        "worker": "always",
        "ts": "always",
        "services": "always",
        "api": "always"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn", // or "error"
      { 
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  },
  "ignorePatterns": [
    "vscode/**/*",
    "dist/**/*"
  ]
}