{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
},
  "globals": {
    "Thenable": "readonly",
    "VSCODE_VERSION": "readonly"
  },
  "extends": [
    "@codingame"
  ],
  "ignorePatterns": [
    "vscode/**/*",
    "dist/**/*"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "unused-imports"
  ]
}