{
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "@codingame"
  ],
  "rules": {
    "import/extensions": ["off"],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { 
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  },
  "ignorePatterns": [
    "dist/**/*"
  ]
}