:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--vscode-editorWidget-background);
  color: var(--vscode-editorWidget-foreground);
}

#editors {
  width: 100%;
  min-width: 0;
  height: 600px;
  border: 1px solid var(--vscode-editorWidget-border);
}

#panel {
  display: flex;
  flex: none;
  border: 1px solid var(--vscode-editorWidget-border);
  height: 400px;
}

.editor {
  width: 100%;
  height: 600px;
}
