name: Check build
on:
  pull_request:
    branches:
      - main

jobs:
  check:
    name: Check build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Install demo dependencies
      working-directory: ./demo
      run: npm ci
    - name: Build demo
      working-directory: ./demo
      run: npm run build