name: Check build
on:
  pull_request:
    branches:
      - main

jobs:
  check:
    name: Check build
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build